




#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/preloader.gif') no-repeat 50% 50%;
    margin: -32px 0 0 -32px;
}

